$break-large: 1072px;
#tabs {
 form {
 position: relative;
 margin: 1em;
 input[type="text"], input[type="submit"], select, input[type="checkbox"], input[type="radio"] {
  margin: .5em 0;
 }
 select {
  height: auto;
 }
 input[type="text"]:focus {
  width: 80%;
 }
}
.survey p {
 width: 100%;
 float: left;
}
 margin-top: 2.5em;
}

form#new-elements {
 display: none;
 label {
  float: left;
  width: 100%;
  input {
   margin-top: .5em;
  }
 }
 fieldset, .field-validation > * {
  padding: .5em 1em;
 }
}

.half {
 width: 40%;
 float: left;
 display: inline-block;
 &:hover {
  width: 55%;
 }
 @media screen and ( max-width: $break-large ) {
  width: 100%;
 }
}

.slider-wrapper {
 width: 80%;
 margin: 10px 0;
 #slider, #edit-slider {
  width: 100%;
  margin-bottom: 2.5em;
  label {
   position: absolute;
   width: 20px;
   margin-top: 20px;
   margin-left: -10px;
   text-align: center;
   font-size: 1rem;
  }
 }
}

.slider-legend {
 width: 100%;
 margin-top: 1em;
 p {
  text-align: center;
  width: 43px;
  display: inline-block;
 }
}

.overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  opacity: 0.45;
  -moz-opacity: 0.45;
  filter: alpha(opacity=45);
  display: none;
  .preloader {
  display: block;
  width: 98px;
  height: 98px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background: url('../images/maintenance.gif') no-repeat center;
  }
 }

 .validation {
  float: left;
  width: 100%;
  margin: 1em 0;
 }

 form {
  span.label, .slider-wrapper, .options-holder, textarea {
  float: left;
  width: 100%;
  margin: 1em 0;
  div.control-group {
   margin: .5em 0;
   label {
    margin: .25em 0;
   }
  }
 }
 span.label p {
  margin: 1em;
 }
 .hidden {
  display: none;
 }
 label.error {
  color: red;
 }
 input.error {
  border-color: red;
 }
 div.form-actions {
   float: left;
   margin: 1em 0;
  }
}

span.question {
 float: left;
 width: 100%;
 margin: 1em;
 text-decoration: underline;
}

div.answers {
 width: 500px;
 .options {
  background-color: #e1455d;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
 }
 .options-container {
  width: 90%;
  float: left;
  position: relative;
  border: 1px solid black;
  padding: 1em 0 1em .25em;
  margin: 1em;
  background-color: #e1f4ff;
 }
 div.data {
  z-index: 1;
  position: relative;
 }
}

.question-container {
 float: left;
 margin: 1em 0;
 width: 100%;
}

.answer-accordion {
 float: left;
 width: 100%;
}

#question-dialog, #answer-dialog, #survey-name-dialog, #survey-thanks-dialog {
 display: none;
}

#edit-answer, #edit-question {
 input[type="text"] {
  width: 90%;
 }
}

#preview {
 .button-holder {
  float: right;
  width: 50%;
  max-width: 200px;
  display: none;
  button {
   float: left;
   margin-top: .5em;
  }
 }
 .control-group {
   float: left;
   max-width: 50%;
  }
 .single-element-edit {
  &:hover {
  border: 1px #c0c0c0 dashed;
   .button-holder {
    display: block;
   }
  }
  padding: .5em;
 }
}

.dyn-dialog {
 #slider {
  margin: 1em 0;
 }
}