#tabs {
 form {
 position: relative;
 margin: 1em;
 input[type="text"], input[type="submit"], select, input[type="checkbox"], input[type="radio"] {
  margin: .5em 0;
 }
  label {
   width: 100%;
   float: left;
  }
 }
 margin-top: 2.5em;
}

form#new-elements {
 display: none;
}

.half {
 width: 45%;
 float: left;
 display: inline-block;
}

.slider-wrapper {
 width: 80%;
 margin: 10px 0;
 #slider {
  width: 100%;
  margin-bottom: 2.5em;
  label{
   position: absolute;
   width: 20px;
   margin-top: 20px;
   margin-left: -10px;
   text-align: center;
  }
 }
}

.slider-legend {
 width: 100%;
 margin-top: 1em;
 p{
  text-align: center;
  width: 43px;
  display: inline-block;
 }
}

.overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  opacity: 0.45;
  -moz-opacity: 0.45;
  filter: alpha(opacity=45);
  display: none;
  .preloader {
  display: block;
  width: 98px;
  height: 98px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background: url('../images/maintenance.gif') no-repeat center;
  }
 }

 .validation {
  float: left;
  width: 80%;
  padding: 1em;
  margin: 1em 0;
 }

 form {
  span.label, .slider-wrapper, .options-holder, textarea {
  float: left;
  width: 100%;
  margin: 1em 0;
  div.control-group {
   margin: .5em 0;
   label {
    margin: .25em 0;
   }
  }
 }
 .hidden {
  display: none;
 }
 label.error {
  color: red;
 }
 input.error {
  border-color: red;
 }
}