button {
	margin: .3em 0;
}

#general-survey-options {
	textarea {
		width: 100%;
	}
}

	.slider-wrapper {
  padding: 5px;
  margin: 10px 0; }
  .slider-wrapper #slider, .slider-wrapper #edit-slider {
    margin: 0 0.5em 2.5em; }
    .slider-wrapper #slider label, .slider-wrapper #edit-slider label {
      position: absolute;
      width: 20px;
      margin-top: 20px;
      margin-left: -10px;
      text-align: center;
      font-size: 1rem; }

.slider-legend {
  width: 100%;
  margin-top: 1em; }
  .slider-legend p {
    text-align: center;
    width: 43px;
    display: inline-block; }


#form-preview {
	select {
		height: auto;
	}
}
#form-preview .button-holder {
  float: right;
  width: 50%;
  max-width: 200px;
  display: none; }
  #form-preview .button-holder button {
    float: left;
    margin-top: .5em; }

#form-preview .control-group {
  float: left;
  max-width: 50%; }
#form-preview .single-element-edit {
  padding: .5em; }
  #form-preview .single-element-edit:hover {
    border: 1px #c0c0c0 dashed;
    cursor: move; }
    #form-preview .single-element-edit:hover .button-holder {
      display: block; }

#save-survey {
	fieldset {
		border: none;
	}
}

div#current-element label {
  float: left;
  width: 100%; }
  div#current-element label input {
    margin-top: .5em; }
div fieldset, div .field-validation > * {
  padding: .5em 1em; }

#current-element-wrapper, #form-preview-wrapper {
	display:none;
}
.validation {
  float: left;
  width: 100%;
  margin: 1em 0; }

span.label, .slider-wrapper, .options-holder, textarea {
  float: left;
  width: 100%;
  margin: 1em 0; }
  span.label div.control-group, .slider-wrapper div.control-group, .options-holder div.control-group, textarea div.control-group {
    margin: .5em 0; }
    span.label div.control-group label, .slider-wrapper div.control-group label, .options-holder div.control-group label, textarea div.control-group label {
      margin: .25em 0; }
span.label p {
  margin: 1em; }

.overlay {
  z-index: 1000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  opacity: 0.45;
  -moz-opacity: 0.45;
  filter: alpha(opacity=45);
  .preloader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  }
 }