form.answer-survey {
 position: relative;
 .overlay {
   z-index: 1000;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   background: #FFF;
   opacity: 0.45;
   -moz-opacity: 0.45;
   filter: alpha(opacity=45);
   display: none;
   .preloader {
   display: block;
   width: 98px;
   height: 98px;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -20px;
   margin-left: -20px;
   background: url('../images/maintenance.gif') no-repeat center;
  }
 }
 label, textarea, input[type="email"], input[type="text"], input[type="number"] {
  float: left;
  width: 100%;
 }
 div {
  float: left;
  width: 100%;
  margin: .5em 0;
 }
}